<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: content"></head>

<body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     <header th:replace="fragments/top-menu :: header"></header>	
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
      	<div th:replace="fragments/menu :: side"></div>
      </aside>
      <!--sidebar end-->
            
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          
          	<h3>Controle de Diretores
          		<button data-toggle="modal" href="#AddDiretoria" type="button" class="btn btn-success pull-right" style="margin-right:10px;"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> <span class="hidden-phone">  Nova Diretoria</span></button>
          	</h3>
          	
          	
          	<div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4 style="margin-left:10px;"> Diretores do Laços da Alegria</h4>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-star-o"></i>Diretorias</th>
                                  <th><i class="fa fa-user"></i> Nome</th>
                                  <th><i class="fa fa-whatsapp"></i> WhatsApp</th>
                                  <th class="hidden-phone"><i class=" fa fa-envelope-o"></i> E-mail</th>
                                  <th class="hidden-phone"><i class="fa fa-globe"></i> Região</th>
                                  <th><i class="fa fa-times-circle-o"></i> Remover</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              <span th:each="diretoria : ${diretorias}">
                              <tr th:each="diretor : ${diretoria.diretores}">
                              	  <td th:text="${diretoria.nome}"></td>
                                  <td th:text="${diretor.nome}"></td>
                                  <td th:text="${diretor.whatsapp}"></td>
                                  <td th:text="${diretor.email}" class="hidden-phone"></td>
                                  <td th:text="${diretor.regiao.nome}" class="hidden-phone"></td>
                                  <td>
                                      <button data-toggle="modal" href="#ModalRetirar" th:onclick="'modalRetirar(' + ${diretor.id} + ',' + ${diretoria.id} + ');'" class="btn btn-danger btn-xs" style="margin-left:10px;"><i class="fa fa-times "></i></button>
                                  </td>
                              </tr>   
                              </span>
                              </tbody>
                          </table>
                          
                    <label class="col-md-2 control-label"></label>
		         	 <div class="modal-footer">
		              <button class="btn btn-success" data-toggle="modal" href="#AddRecursoHumano"><i class="fa fa-check" ></i>Adicionar Diretor</button>
		              </div>
		              
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->		
              
					
					<!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Indique Aqui seu Amigo</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Entre com o e-mail abaixo para resetar sua senha.</p>
		                          <input type="text" name="email" placeholder="E-mail" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <button class="btn btn-theme" type="button">Enviar</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		        <!-- modal -->
				  
		          <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalRetirar" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-d">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title centered">Retirada de Recurso Humano</h4>
		                      </div>
		                      <div class="modal-body centered">
		                          <p>Você Realmente quer <b>Retirar</b> esse Recurso Humano?</p>		                       	
		                      </div>
		                      <form action="/admin/remover/diretor" method="post">
		                      <div class="modal-footer">
		                       <input hidden type="number" name="voluntario" id="retirarCord" >
		                       <input hidden type="number" name="diretoria" id="idDiretoria" >
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                          <button class="btn btn-danger" type="submit">Confirmar Retirada</button>
		                      </div>
		                      </form>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		          
		         <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="AddRecursoHumano" class="modal fade">
		              <div class="modal-dialog">
		              <form class="form-horizontal style-form" action="/admin/cadastrar/diretor"  method="post">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Adicionar um Diretor</h4>
		                      </div>
		                      <div class="modal-body">
		                      <div class="form-group" >
		                      	<p style="margin-left:15px;">Entra Abaixo com as infomações e clique em adiconar.</p>
		                      </div>
						          <div class="form-group">  
						            <label class="col-sm-2 col-sm-2 control-label"><b>E-mail</b></label>
						              <div class="col-sm-10">
						              <input class="form-control" name = "email" placeholder="Email Cadastrado no IntraLaços" type="text" required>
						              </div>
						          </div>
						          <div class="form-group">  
						            <label class="col-sm-2 col-sm-2 control-label"><b>Diretoria</b></label>
						              <div class="col-sm-10">
						              	<select class="form-control" name = "diretoria" required>
				                      	  <option value="" ></option>	
											   <option th:each="diretoria : ${diretorias}" th:value="${diretoria.id}" th:text="${diretoria.nome}" ></option>
										</select>						             
						              </div>
						          </div>						          						      		                      
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <button class="btn btn-theme" type="submit">Adicionar</button>
		                      </div>
		                      </div>
		                     </form>
		                  </div>
		              </div>
		          <!-- modal -->
		          
		          <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="AddDiretoria" class="modal fade">
		              <div class="modal-dialog">
		              <form class="form-horizontal style-form" action="/admin/cadastrar/diretoria"  method="post">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Cadastrar Diretoria</h4>
		                      </div>
		                      <div class="modal-body">
		                      <div class="form-group" >
		                      	<p style="margin-left:15px;">Entra Abaixo com as infomações e clique em criar.</p>
		                      </div>
						          <div class="form-group">  
						            <label class="col-sm-2 col-sm-2 control-label"><b>Nome</b></label>
						              <div class="col-sm-10">
						              <input class="form-control" name = "nome" placeholder="Nome da Diretoria" type="text" required>
						              </div>
						          </div>
						          <div class="form-group">  
						            <label class="col-sm-2 col-sm-2 control-label"><b>Papel</b></label>
						              <div class="col-sm-10">
						              <input class="form-control" name = "role" placeholder="Nome do Papel começando por ROLE_" type="text" required>
						              </div>
						          </div>
						          <div class="form-group">  
						            <label class="col-sm-2 col-sm-2 control-label"><b>Ordem</b></label>
						              <div class="col-sm-10">
						              <input class="form-control" name = "ordem" placeholder="Ordem da Diretoria" type="number" required>
						              </div>
						          </div>						          						      		                      
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <button class="btn btn-theme" type="submit">Criar</button>
		                      </div>
		                      </div>
		                     </form>
		                  </div>
		              </div>
		          <!-- modal -->
             
          </section>
      </section>

      <!--main content end-->

  </section>

	<div th:include="fragments/commonJs :: scripts" th:remove="tag"></div>
		
	<script type="text/javascript">
    
	    function modalRetirar(coordId, diretoriaId) {
    	    document.getElementById("retirarCord").value = coordId;
      		document.getElementById("idDiretoria").value = diretoriaId;
      	};
    
    </script> 

  </body>
</html>