<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: content"></head>

<body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     <header th:replace="fragments/top-menu :: header"></header>	
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
      	<div th:replace="fragments/menu :: side"></div>
      </aside>
      <!--sidebar end-->
    
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          
          	
          	<div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h3 style="margin-left:10px;"> <b> <i class="fa fa-hospital-o" aria-hidden="true"></i> Controle de Hospitais </b> 
	                  	  	  	<a  type="button" class="btn btn-primary pull-right" style="margin-right:10px;"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> <span class="hidden-phone">&nbsp&nbsp&nbsp Novo Hospital</span></a>
	                  	  	  </h3>	                  	      	                   	  
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-star-half-o " aria-hidden="true"></i> <span class="hidden-phone">Tag</span></th>
                                  <th><i class="fa fa-heart" aria-hidden="true"></i> <span class="hidden-phone">Nome</span></th>
                                  <th><i class="fa user-circle-o "></i> <span class="hidden-phone">Endereço</span></th>
                                  <th><i class="fa fa-caret-square-o-down "></i> <span class="hidden-phone">Horário</span></th>
                                  <th><i class="fa fa-arrow-circle-down "> <span>Detalhes</span></i>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="hospital : ${hospitais}">
	                              <td th:text="${hospital.tag}"></td>
	                              <td th:text="${hospital.nome}"></td>
	                              <td th:text="${hospital.endereco}"></td>
	                              <td th:text="${hospital.horario}"></td>
	                              <td><a onclick="clickAndDisable(this);" th:href="'/hospitais/atualizar/hospital?hospital='+${hospital.id}" style="font-size:13px;"  class="btn btn-primary btn-xs fa fa-info-circle"></a></td>
                              </tr>   
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->		
	
					
					<!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Indique Aqui seu Amigo</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Entre com o e-mail abaixo para resetar sua senha.</p>
		                          <input type="text" name="email" placeholder="E-mail" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <button class="btn btn-theme" type="button">Enviar</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		        <!-- modal -->
          </section>
      </section>

      <!--main content end-->

  </section>

    <div th:include="fragments/commonJs :: scripts" th:remove="tag"></div>
	
	<script>
	
		$('#image-file').bind('change', function() {
			 
	        if((this.files[0].size/1024)>500){
	       	 $('#submitFoto').attr('disabled','disabled');
	       	 alert("O tamanho da foto deve ser inferior a 500Kbytes para ser utilizada, favor reduzir o tamanho da foto antes de envia-la");
	        } else {
	       	 $('#submitFoto').removeAttr('disabled');
	        }
	
		 });	
		
	</script>
	
	<script type="text/javascript">
    
        function clickAndDisable(link) {
            // disable subsequent clicks
            link.onclick = function(event) {
               event.preventDefault();
            }
          };
          
    </script> 

  </body>
</html>