<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: content"></head>

<body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     <header th:replace="fragments/top-menu :: header"></header>	
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *****************************ad****************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
      	<div th:replace="fragments/menu :: side"></div>
      </aside>
      <!--sidebar end-->
            
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

		<div class="form-panel">
		   <h3><a href="/hospitais/controle"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp&nbsp <i class="fa fa-university" aria-hidden="true"></i> Atualizar - <span th:text="${hospital.nome}"></span> 
		  	<a data-toggle="modal" href="#atualizarImagem" type="button" class="btn btn-primary pull-right" style="margin-right:10px;"><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> <span class="hidden-phone">&nbsp&nbsp&nbsp Atualizar Imagem</span></a></h3><hr>
			<div class="row">
		      <form class="form-horizontal style-form" th:object="${hospital}" action="/hospitais/atualizar/hospital" method = "post">
		      <!-- edit form column -->
		      <div class="col-md-12 personal-info ">
		      	
		      		<div th:if="${successMessage != null}">
					    <div class="alert alert-success" th:utext="${successMessage}"></div>
					</div>
		      	
		         	<div class="form-group">
		         		
		         	<input type="hidden" name="id" required th:field="*{id}">
		         	<input type="hidden" name="inscricao" required th:field="*{inscricao}">
		         	<input type="hidden" name="chamada" required th:field="*{chamada}">
		         	<input type="hidden" name="tag" required th:field="*{tag}">
		         	<input type="hidden" name="status" required th:field="*{status}">
		         	
		         	
		           	<label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-building-o" aria-hidden="true"></i> Nome do Hospital</b></label>
		           		<div class="col-sm-10">
                           <input type="text" class="form-control" th:field="*{nome}" name="nome" required>
                        </div>		         
		           	</div>
		           	<div class="form-group">
		           	<label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-phone" aria-hidden="true"></i> Endereço</b></label>
		           		<div class="col-sm-10">
                           <input type="text" class="form-control" name="endereço" th:field="*{endereco}" required>
                        </div>		         
		           	</div>
		          <div class="form-group">
		            <label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-envelope-o" aria-hidden="true"></i> Local de Preparo</b></label>
		              <div class="col-sm-10">
		              	<input class="form-control" type="text" name="localPreparo" th:field="*{localPreparo}">
		              </div>
		            </div>
		            
		            <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-question-circle-o" aria-hidden="true"></i> Horário da Atividade</b></label>
		             <div class="col-sm-10">
		             	<input class="form-control" type="text" name="horario" th:field="*{horario}">
		              </div>
		          </div>
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-question-circle-o" aria-hidden="true"></i> Período da Atividade</b></label>
		              <div class="col-sm-10">
		              <select class="form-control" id="periodo" name = "periodo"  required>
								<option value="" >Escolha um período*</option>							
								<option value="1" >Manhã</option>
								<option value="2" >Tarde</option>
								<option value="3" >Noite</option>
		                </select> 
		                <input type="hidden" id="temp_periodo" name="temp_periodo" th:field="*{periodo}">
		              </div>
		          </div>
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-question-circle-o" aria-hidden="true"></i> Dia da Atividade</b></label>
		              <div class="col-sm-10">
		              <select class="form-control" id="dia" name = "dia"  required>
								<option value="" >Escolha o dia*</option>							
								<option value="1" >Domindo</option>
								<option value="2" >Segunda Feira</option>
								<option value="3" >Terça Feira</option>
								<option value="4" >Quarta Feira</option>
								<option value="5" >Quinta Feira</option>
								<option value="6" >Sexta Feira</option>
								<option value="7" >Sábado</option>
		                </select> 
		                <input type="hidden" id="temp_dia" name="temp_dia" th:field="*{dia}">
		              </div>
		          </div>
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-user-circle-o" aria-hidden="true"></i> Limite de Voluntários</b></label>
		              <div class="col-sm-10">
		              	<input class="form-control" name="limiteVoluntario" th:field="*{limiteVoluntario}"  type="number" required>
		              </div>
		          </div>
		          
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-phone" aria-hidden="true"></i> Limite de Apoios</b></label>
		              <div class="col-sm-10">
		              	<input class="form-control" name="limiteApoio" th:field="*{limiteApoio}"  type="number" required>
		              </div>
		          </div>
		           <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-envelope-o" aria-hidden="true"></i> Limite de Novatos</b></label>
		              <div class="col-sm-10">
		              		<input class="form-control" name="limiteNovato" th:field="*{limiteNovato}"  type="number" required>
		              </div>
		          </div>
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b><i class="fa fa-book" aria-hidden="true"></i> Descrição da Instituição</b></label>
		              <div class="col-sm-10">
		              	<textarea rows="6" class="form-control placeholder-no-fix" name="descricao" th:field="*{descricao}" required></textarea>
		              </div>
		          </div>
		          
		          <div class="form-group">
		            <label class="col-md-2 control-label"></label>
		         	 <div class="modal-footer">
		         		<input class="btn btn-primary" value="Atualizar Informações" type="submit">
		              <span></span>
		              	<input class="btn btn-default" value="Cancelar" type="reset">
		              </div>
		            
		          </div>
		          </div>
		        </form>
		      
		   </div>  	
		  </div><!-- /row mt -->	
	
					
					<!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Indique Aqui seu Amigo</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Entre com o e-mail abaixo para resetar sua senha.</p>
		                          <input type="text" name="email" placeholder="E-mail" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <button class="btn btn-theme" type="button">Enviar</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		        <!-- modal -->
		        
		        <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="atualizarImagem" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-b">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Atualizar Imagem do Hospital</h4>
		                      </div>
		                      <form action="/hospitais/imagem/hospital" method = "post" enctype="multipart/form-data">
		                      <div class="modal-body">
							  	<div class="text-center">
						          <img th:src="${hospital.imageHospital()}" class="avatar img-circle" alt="avatar" name="pic" height="152" width="152">
						          <h6>Altere sua Foto da Atividade</h6> 
						          <input type="hidden" name="hospital" required th:value="${hospital.id}">
						          <input id="image-file" class="form-control" type="file" name="file" required multiple>
							  	</div>
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <button class="btn btn-primary" type="submit">Atualizar</button>
		                      </div>
		                      </form> 
		                  </div>
		              </div>
		          </div>
		        <!-- modal -->

          </section>
      </section>

      <!--main content end-->

  </section>

    <div th:include="fragments/commonJs :: scripts" th:remove="tag"></div>
    
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=3xxlvr4x4mfh2h5wsc9vh3bdq5b2st3sxgv8iowhcxy83kbv"></script>
 	<script>tinymce.init({ selector:'textarea', menubar: false, height: 250 });</script>
    
   <script>
  		$(document).ready(function() {
  			$("#dia").val($('#temp_dia').val());
  			$("#periodo").val($('#temp_periodo').val());
		});
   </script>
    
  </body>
</html>