<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: content"></head>
<head>
	<style>
		*,
		*:before,
		*:after {
			box-sizing: border-box;
		}

		.row-depoimento {
			/* column width */
			-moz-column-width: 27em;
			-webkit-column-width: 27em;
			
			/* space between columns */
			-moz-column-gap: 1em;
			-webkit-column-gap: 1em;
		}

		.item-depoimento {
			display: inline-block;
			margin-top: 3px;
			background-color: #FFF;
			width: 100%;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
		}
		.item-depoimento:hover {
		  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		  margin-top: 3px;
		  -webkit-transition: all 0.3s ease-in-out;
		  -moz-transition: all 0.3s ease-in-out;
		  -o-transition: all 0.3s ease-in-out;
		  transition: all 0.3s ease-in-out;
		}
		.item-header{
			float: left;
			margin-right: 15px;
			margin-bottom: 3px;
		}
		.item-content{
			text-align: justify;
			text-justify: inter-word;
		}
		.item-verde{
			background-color: rgba(102,194,165, 0.2);
		}
		.item-vermelho{
			background-color: rgba(210,35,42, 0.2);
		}
		.item-laranja{
			background-color: rgba(251,103,51, 0.2);
		}
		.item-roxo{
			background-color: rgba(112,59,216, 0.2);
		}
		.item-amarelo{
			background-color: rgba(233,249,101,0.2);
		}
		.item-azul{
			background-color: rgba(141,160,203, 0.2);
		}
		.item-rosa{
			background-color: rgba(255,111,105, 0.2);
		}
	</style>
</head>

<body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     <header th:replace="fragments/top-menu :: header"></header>	
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
      	<div th:replace="fragments/menu :: side"></div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
           <section class="wrapper site-min-height">          
			<div>
				<div class="row" style="margin: 10px">
					<h3>Nossos Depoimentos <i style="color:  rgba(210,35,42, 0.8)" class="fa fa-heart" aria-hidden="true"></i>
					<button sec:authorize="hasRole('VOLUNTARIO')" type="button" data-toggle="modal" href="#novoDepoimento" class="btn btn-primary" style="float: right"><i class="fa fa-plus" aria-hidden="true"></i> <span class="hidden-phone">Novo Depoimento</span></button></h3>
					
				</div>
				
				<div id="depoimentos" class="row-depoimento">
				</div>
				
			</div>
			<br>
			<div class="col-md-12 text-center">
				<button id="carrega-mais" onclick="maisDepoimentos()" type="button" class="btn btn-primary">Carregar Mais</button>
			</div>
			<input id="diretor-validador" type="hidden" th:if="${diretor != null}" th:value="${diretor}">
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <footer th:replace="fragments/footer :: content"></footer>
	  <!-- Modal -->
		<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="novoDepoimento" class="modal fade">
	    	<div class="modal-dialog">
	        	<div class="modal-content">
                   <div class="modal-header-x">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class=" centered modal-title">Deixar o seu depoimento <i style="color:  rgba(210,35,42, 0.8)" class="fa fa-heart" aria-hidden="true"></i></h4>
                   </div>
	               		<div class="modal-body form-horizontal style-form">
	                         <div class="form-group">
	                            <label class="col-sm-1 col-sm-1 control-label">Cor</label>
	                            <div class="col-sm-11">  
	                             	   <select class="form-control" id="cor-depoimento">
	                                  	<option value="">Branco</option>
	                                  	<option value="item-verde">Verde</option>
	                                  	<option value="item-vermelho">Vermelho</option>
	                                  	<option value="item-laranja">Laranja</option>
	                                  	<option value="item-roxo">Roxo</option>
	                                  	<option value="item-amarelo">Amarelo</option>
	                                  	<option value="item-azul">Azul</option>
	                                  	<option value="item-rosa">Rosa</option>
	                                  </select> 
	                            </div>
	                        </div> 
	                        
						    <div class="form-group">
						    	<label class="col-sm-6 col-sm-6 control-label">Deixe aqui o seu depoimento</label>
	                            <div class="col-sm-12">
	                               <textarea rows="8" class="form-control placeholder-no-fix" id="conteudo-depoimento"></textarea>
	                            </div>
	                        </div>                               
	
					    </div>
	                    <div class="modal-footer">
	                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
	                        <button class="btn btn-primary" onclick="novoDepoimento()" type="button">Enviar</button>
	                    </div>
	                    
	                </div>
	            </div>
	        </div>
	        <!-- modal -->
	        
	        <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="deletarDepoimento" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-d">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title centered">Deletar Depoimento</h4>
		                      </div>
		                      <div class="modal-body centered">
		                          <p>Você Realmente quer <b>Deletar</b> esse Depoimento?</p>		                       	
		                      </div>
		                      <div class="modal-footer">
		                       <input hidden type="number" id="idDepoimentoDelete">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                          <button class="btn btn-danger" onclick='deleteDepoimento()' type="submit">Confirmar Retirada</button>
		                      </div>
		                  </div>    
		              </div>
		          </div>
		          <!-- modal -->
      
  </section>

	<div th:include="fragments/commonJs :: scripts" th:remove="tag"></div>
	
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=3xxlvr4x4mfh2h5wsc9vh3bdq5b2st3sxgv8iowhcxy83kbv"></script>
 	<script>tinymce.init({ selector:'textarea', menubar: false, height: 250 });</script>
  
 <script>
	 var pagina = 0;
	 var total = 0;
	 
	 function novoDepoimento(){
		 
		$('#novoDepoimento').modal('hide');
		
		tinymce.triggerSave();
		
		var conteudo = $('#conteudo-depoimento').val().replace(/\s/g, "");
		
		conteudo = replaceNbsps(conteudo);
		
		console.log(conteudo);
		
		if(!isEmpty(conteudo)){
		
			var request = $.ajax({
				url: '/voluntario/add/depoimento?cor=' + $('#cor-depoimento').val() + '&conteudo=' + conteudo,
				method: "GET",
				dataType: "json"
			});
			
			request.done(function(depoimento){
				console.log(depoimento);
				prependDepoimento(constroiDepoimento(depoimento));
				$('#cor-depoimento').val('');
				tinymce.activeEditor.setContent('');
			});
			
			request.fail(function(jqXHR, textStatus) {
				redirectLogin(jqXHR);
			});
		
		}
		
	 }
	 
	 function replaceNbsps(str) {
		  return str.replace(/&nbsp;/g, "");
		}
	 
	 function isEmpty(str) {
		    return (!str || 0 === str.length);
		}
	 
	 function modalDelete(id){
		$('#idDepoimentoDelete').val(id);
		$('#deletarDepoimento').modal('show');
	 }
	 
	 function deleteDepoimento(){
			
		 var id = $('#idDepoimentoDelete').val();
		 
		 $('#deletarDepoimento').modal('hide');
		 
			var request = $.ajax({
				url: '/diretor/delete/depoimento?depoimento='+id,
				method: "GET",
				dataType: "json"
			});
			
			request.done(function(depoimento){
				console.log("Depoimento deletado com sucesso ! - " + id);
				$('#depoimento'+id).remove()
			});
			
			request.fail(function(jqXHR, textStatus) {
				redirectLogin(jqXHR);
			});
			
	 }
	 
	 function maisDepoimentos(){
	 
		carregandoDepoimentos();
		
		var request = $.ajax({
				url: '/info/get/depoimentos?page='+pagina,
				method: "GET",
				dataType: "json"
			});
			
			request.done(function(pageable){
				
				console.log(pageable);
				
				$.each(pageable.content, function(index){
					appendDepoimento(constroiDepoimento(pageable.content[index]));
					total+=1;
				});
				pagina+=1;
				depoimentosCarregados();
				if(total < pageable.totalElements){
					$('#carrega-mais').show();
				} else {
					$('#carrega-mais').hide();
				}
				
			});
			
			request.fail(function(jqXHR, textStatus) {
				redirectLogin(jqXHR);
			});
	 
	 
	 }
	 
	 function constroiDepoimento(obj){
		
		var depoimento = "";
		
		depoimento += '<div id="depoimento'+obj.id+'"class="item-depoimento well '+ obj.cor +'">'
		depoimento +=	'<div class="item-header">';
		depoimento +=		'<p class="centered"><img src="'+ obj.voluntario.profile +'" class="img-circle" width="60"></p>';
		depoimento +=		'<h5 class="centered">'+ obj.voluntario.nome +'</h5>';
		depoimento +=		'<h6 class="centered">'+ obj.voluntario.nomeDoutor +'</h6>';
		depoimento +=	'</div>';
		depoimento +=	'<div class="item-content">';
		depoimento +=		obj.conteudo; 	
		depoimento +=	'</div>';
		if($('#diretor-validador').val() != null)
			depoimento +=	'<button type="button" onclick="modalDelete('+obj.id+')"class="btn btn-danger btn-sm pull-right"><i class="fa fa-trash-o" aria-hidden="true"></i> <span class="hidden-phone">Deletar Depoimento</span></button>';
		depoimento += '</div>';
		
		return depoimento;
		
	 }
	 
	 function appendDepoimento(html){
		$('#depoimentos').append(html)
	 }
	 
	 function prependDepoimento(html){
		$('#depoimentos').prepend(html)
	 }
	 
	 function carregandoDepoimentos(){
			$('#carrega-mais').html('<i class="fa fa-spinner fa-pulse fa-fw"></i> Carregando');
			$('#carrega-mais').attr("onclick","");
	 }
	 
	 function depoimentosCarregados(){
			$('#carrega-mais').html('Carregar Mais');
			$('#carrega-mais').attr("onclick","maisDepoimentos()");
	 }
	 
	 $.when(maisDepoimentos()).then(function(x) {
		 
	 });

</script>

  </body>
</html>
