<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: content"></head>

<body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     <header th:replace="fragments/top-menu :: header"></header>	
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
      	<div th:replace="fragments/menu :: side"></div>
      </aside>
      <!--sidebar end-->
            
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">                               
					
			<br><h1 class= "centered">Termo de adesão ao serviço voluntário</h1><br>
					
					<div class="content-panel" >
						<div style="width:80%; margin-left:10%;">
						<br><br>
							<p class="il-term-p">A <b>Associação Laços da Alegria</b>, inscrita no CNPJ, sob o nº 27.111.862/0001-48, estabelece vínculo convosco para desempenho de serviço voluntário, nos termos da Lei Federal nº 9.608/98, da Lei Distrital 3.506/004 e do Decreto nº 37.010/15, por meio do presente Termo de Adesão conforme as seguintes cláusulas:</p>
							
							<h5><b><i>Cláusula Primeira</i></b></h5>
							
							<p class="il-term-p">Pelo presente Termo, o Voluntário se compromete a prestar, a título de trabalho voluntário, pelo menos uma atividade a cada quatro meses, dentre as diversas atividades realizadas pela Associação Laços da Alegria, que ocorrerão nas diferentes cidades do Distrito Federal em diversos tipos de instituições, tais como: hospitais, creches, asilos, orfanatos ou em contexto de rua.</p>
							
							<h5><b><i>Cláusula Segunda</i></b></h5>
							
							<p class="il-term-p">As atividades prestadas pelo voluntário deve estar de acordo com o objetivo central do Laços da Alegria, que é a  humanização de contextos, logo o trabalho a ser prestado deve ser pautado no respeito e no acolhimento, atuando na promoção da alegria, gerando bem-estar para o maior número de pessoas possíveis. Exercendo suas intervenções com respeito pela dignidade, personalidade, intimidade dos pacientes e dos seus familiares e amigos, com consciência profissional, sem ter em conta a sua procedência, sexo, raça, nacionalidade, religião, costumes, situação familiar, status social, educação e doença.</p>
							
							<h5><b><i>Cláusula Terceira</i></b></h5>
							
							<p class="il-term-p">O serviço voluntário será realizado de forma espontânea e sem percebimento de contraprestação financeira ou qualquer outro tipo de remuneração, não gerando vínculo ou obrigação de natureza trabalhista, previdenciária, tributária ou outra afim. Como também não haverá vinculação em relação às despesas eventualmente necessárias ao desempenho das atividades.</p>
							
							<h5><b><i>Cláusula Quarta</i></b></h5>
							
							<p class="il-term-p">São <b>direitos</b> de todo voluntário:</p>
							
							<p class="il-term-p"><b>I.</b>	Escolher de acordo com sua preferência dentre as atividades com lista aberta no intralacos.com;</p>
							<p class="il-term-p"><b>II.</b>	Receber capacitação para melhor desenvolvimento das atividades, podendo ser desenvolvidas somente por meio do Laços da Alegria, ou em parceria com outras entidades;</p>
							<p class="il-term-p"><b>III.</b>	Encaminhar sugestões, reclamações, e/ou críticas a associação; </p>
							<p class="il-term-p"><b>IV.</b> 	Ter acesso às informações e direcionamentos, sobre as atividades realizadas, que auxiliem a boa realização destas;</p>
							<p class="il-term-p"><b>V.</b> 	Receber o certificado de serviço voluntário;</p>
							<p class="il-term-p"><b>VI.</b> 	Votar e ser votado para composição do Conselho Diretor da Associação;</p>
							
							<h5><b><i>Cláusula Quinta</i></b></h5>
							
							<p class="il-term-p">São <b>deveres</b> de todo e qualquer voluntário:</p>
							
							<p class="il-term-p"><b>I.</b> 	Passar somente informações válidas para o Laços da Alegria;</p>
							<p class="il-term-p"><b>II.</b> 	Seguir fielmente o estabelecido e informado pelo Laços Da Alegria, exercendo suas atribuições de acordo com o termo de adesão, regimento interno e diretrizes;</p>
							<p class="il-term-p"><b>III.</b>	Respeitar e seguir os direcionamentos da equipe responsável pela realização da atividade (coordenadores e apoios);</p>
							<p class="il-term-p"><b>IV.</b> 	Se identificar com crachá, entregue antes das visitas em caso das atividades no contexto hospitalar;</p>
							<p class="il-term-p"><b>V.</b> 	Utilizar o colete e/ou jaleco, sendo este de cor diferente da branca ou caracterizado;</p>
							<p class="il-term-p"><b>VI.</b> 	Possuir seu próprio material para realização da atividade (jaleco, nariz, maquiagem e adereços);</p>
							<p class="il-term-p"><b>VII.</b> 	Respeitar e cumprir as normas dos órgãos aos quais prestamos o serviço voluntário;</p>
							<p class="il-term-p"><b>VIII.</b>	Garantir que as normas regulamentares da associação e dos órgãos ao qual é prestado o serviço, sejam cumpridas por todos os voluntários;</p>
							<p class="il-term-p"><b>IX.</b> 	Prezar e conservar os recursos materiais e humanos da associação, e dos órgãos aos quais visitamos;</p>
							<p class="il-term-p"><b>X.</b> 	Ser pontual com os horários das atividades, sendo estes informados no intralaços.com;</p>
							<p style="margin-left: 35px;"><b>a.</b> 	Sendo vedada a entrada de qualquer voluntário de forma avulsa, separado do grupo. </p>
							<p class="il-term-p"><b>XI.</b> 	Participar das capacitações oferecidas pela associação;</p>
							<p class="il-term-p"><b>XII.</b>	Manter sigilo sobre as informações obtidas diante da realização do serviço voluntário; </p>
							<p class="il-term-p"><b>XIII.</b>	Atuar de maneira ética e respeitosa com a comunidade alvo do serviço, com a equipe de saúde e com os parceiros voluntários; </p>
							<p class="il-term-p"><b>XIV.</b> 	Prezar para uma boa relação com os parceiros voluntários;</p>
							<p class="il-term-p"><b>XV.</b> 	Autorizar o uso de sua imagem nas fotos e vídeos do Laços da Alegria;</p>
							<p class="il-term-p"><b>XVI.</b> 	Comparecer às atividades que se comprometeu livremente a participar através do intralaços.com;</p> 
							<p style="margin-left: 35px;"><b>a.</b> 	O não comparecimento acarreta em penalidade, logo, diante da falta o voluntário estará automaticamente no final da lista de espera de qualquer outra atividade aberta na semana seguinte.	</p> 
							     
							<h5><b><i>Cláusula Sexta</i></b></h5>
							
							<p class="il-term-p">É <b>vedado</b> a todo e qualquer voluntário:</p>
							
							<p class="il-term-p"><b>I.</b> 	Receber qualquer remuneração e/ou título pelos serviços prestados voluntariamente;</p> 
							<p class="il-term-p"><b>II.</b> 	Identificar-se em sua condição de voluntário do Laços da Alegria, quando não estiver em pleno exercício da atividade voluntária autorizada pela associação;</p> 
							<p class="il-term-p"><b>III.</b> 	Utilizar fora de suas atribuições, informações de uso exclusivo do Laços da Alegria;</p> 
							<p class="il-term-p"><b>IV.</b> 	Utilizar o nome ou imagem, sem autorização, da associação ou de qualquer órgão ao qual prestamos serviço;</p> 
							<p class="il-term-p"><b>V.</b> 	Ocupar mais de um cargo nas equipes da estrutura administrativa (exceto o cargo de apoio que pode acumular-se a algum outro diferente deste).</p> 
							<p class="il-term-p"><b>VI.</b> 	Realizar qualquer tipo de comportamento desrespeitoso, invasivo ou antiético com a comunidade alvo do serviço, com a equipe de saúde ou com os parceiros voluntários;</p> 
							<p class="il-term-p"><b>VII.</b> 	Produção e/ou divulgação, sem autorização, de fotos ou vídeos dentro das instituições visitas;</p> 
							
							<h5><b><i>Cláusula Sétima</i></b></h5>
							
							<p class="il-term-p">São <b>deveres</b> da Associação:</p>
							
							<p class="il-term-p"><b>I.</b> 	Fornecer as regras para realização das atividades nas respectivas instituições antes e no dia da respectiva atividade;</p> 
							<p class="il-term-p"><b>II.</b> 	Fornecer material básico necessário para realização das atividades (crachás, coletes, maquiagens e adereços);</p> 
							<p class="il-term-p"><b>III.</b>	Garantir formas de capacitação dos voluntários;</p> 
							<p class="il-term-p"><b>IV.</b> 	Estar em constante melhoria e adaptação visando a qualidade e ampliação das atividades;</p> 
							<p class="il-term-p"><b>V.</b> 	Garantir o cumprimento das regras previstas neste termo e nas demais documentações;</p> 
							<p class="il-term-p"><b>VI.</b> 	Garantir a melhor execução das atividades previstas;</p> 
							<p class="il-term-p"><b>VII.</b>	Garantir uma gestão justa e funcional dos voluntários e das atividades.</p> 
							
							<h5><b><i>Cláusula Sétima</i></b></h5>
							
							<p class="il-term-p">São <b>direitos</b> da Associação representada pelo Conselho Diretor:</p>
							
							<p class="il-term-p"><b>I.</b> 	Deliberar diante de situações ainda não previstas em documentações;</p> 
							<p class="il-term-p"><b>II.</b> 	Estabelecer os responsáveis pelas atividades, tal como, realizar mudanças quando considerarem necessário;</p>
							<p class="il-term-p"><b>III.</b> 	Tomar medidas necessárias para garantia de cumprimento das regras previstas neste termo de adesão, no regimento interno e nas diretrizes;</p> 
							<p class="il-term-p"><b>IV.</b> 	Definir os componentes das diversas equipes da estrutura administrativa, sendo de livre deliberação destes a permanência ou retirada de qualquer voluntário dentro das equipes que sejam responsáveis;</p> 
							<p class="il-term-p"><b>V.</b> 	Utilizar as fotos e vídeos de seus voluntários para fins do projeto.</p>

							<br>
							<br>
						</div>
                   	</div><!-- /row mt -->	
					
             
          </section>
      </section>

      <!--main content end-->

  </section>


	<div th:include="fragments/commonJs :: scripts" th:remove="tag"></div>


  </body>
</html>
