<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="scripts">
	 
		<!-- js placed at the end of the document so the pages load faster -->
	    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script src="/assets/js/bootstrap.min.js"></script>
	    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
	    <script src="/assets/js/jquery.scrollTo.min.js"></script>
	    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
	    <script src="/assets/js/jquery.sparkline.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  
	    
		<script src="/assets/js/fancybox/jquery.fancybox.min.js"></script>
		
		<script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>
   	    <script type="text/javascript" src="/assets/js/gritter-conf.js"></script>
		
		
	    <!--common script for all pages-->
	    <script src="/assets/js/common-scripts.js"></script>
	    <script src="/assets/js/custom/commons.js"></script>
	    
	    <script src="/assets/js/select2/js/select2.min.js"></script>
	
	    <script type="text/javascript">
			// When ready...
			window.addEventListener("load",function() {
				// Set a timeout...
				setTimeout(function(){
					// Hide the address bar!
					window.scrollTo(0, 1);
				}, 0);
			});
		</script>
		
	</div>
</body>
</html>