<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <header class="header black-bg" th:fragment="header">
          <div class="sidebar-toggle-box">
              <div class="fa fa-bars tooltips" data-placement="right" id="menu-button" data-original-title="Menu"></div>
          </div>
            
	<a th:href="${@userInfo.hrefText()}" class="logo hidden-phone"><b th:text="${@userInfo.roleText()}"></b></a>

      <div class="nav notify-row" id="top_menu">
          <!--  notification start -->
          <ul class="nav top-menu">
              
              <li style="cursor: pointer;" class="dropdown tooltips" data-placement="left" data-original-title="Iniciar Tutorial">
                  <a data-toggle="modal" class="dropdown-toggle" onclick="iniciaTour()">
                      <i class="fa li_eye" ></i>                            
                  </a>
              </li>
              
               <li class="dropdown tooltips" data-placement="left" data-original-title="Ir para Ouvidoria">
                  <a class="dropdown-toggle" href="/info/ouvidoria" data-step='1' data-intro="Qualquer dúvida é só ir aqui e abrir um atendimento!">
                      <i class="fa li_bubble" ></i>                     
					  <span th:if="${@userInfo.getRespostas() > 0}" class="button__badge blink" th:text="${@userInfo.getRespostas()}"></span>	                                                     
                  </a>
              </li>  
              
          </ul>      
      </div>
      
      <div class="top-menu">
      	<ul class="nav pull-right top-menu">
              <li><a class="logout" href="/logout">Logout</a></li>
      	</ul>
      </div>
 </header>

	
</body>
</html>
