<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: content"></head>

<body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     <header th:replace="fragments/top-menu :: header"></header>	
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
      	<div th:replace="fragments/menu :: side"></div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          
          	
          	<div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h3 style="margin-left:10px;"> <b> <i class="fa fa-microphone" aria-hidden="true"></i> Ouvidoria <span class="hidden-phone">do Laços da Alegria</span> </b> 
	                  	  	  	<!-- <a href="#" type="button" class="btn btn-default pull-right" style="margin-right:10px;"><i class="fa fa-ticket fa-lg" aria-hidden="true"></i> <span class="hidden-phone">&nbsp&nbsp&nbsp Meus Atendimentos</span></a> -->
	                  	  	  	<a data-step='5' id="stepFeedback" data-intro="Aqui você abri um feedback anônimo, não haverá resposta. Mas será enviado para a diretoria para que se possa tomar as devidas providências" data-toggle="modal"  href="#ModalFeedBack" type="button" class="btn btn-primary pull-right" style="margin-right:10px;"><i class="fa fa-user-secret fa-lg" aria-hidden="true"></i> <span class="hidden-phone">&nbsp&nbsp&nbsp Feedback Anônimo</span></a>
								<a data-step='2' id="stepAtentimento" data-intro="Clique aqui para abrir um atendimento esperando resposta!" data-toggle="modal"  href="#ModalAtendimento" type="button" class="btn btn-success pull-right" style="margin-right:10px;"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> <span class="hidden-phone">&nbsp&nbsp&nbsp Abrir Atendimento</span></a>
								<button class="btn pull-right" onclick="iniciaTour()" style="margin-right:10px;"><i class="fa fa-eye" aria-hidden="true"></i> <span class="hidden-phone">Iniciar Tutorial</span></button>	                  	  	  	
	                  	  	  </h3>	                  	      	                   	  
	                  	  	  <hr> 
                              <thead id="stepLista" data-step='6' data-intro="Aqui você tem um histórico dos seus atendimentos!">
                              <tr>
                                  <th><i class="fa fa-star-half-o " aria-hidden="true"></i> <span class="hidden-phone">Situação</span></th>
                                  <th><i class="fa fa-hourglass-half " aria-hidden="true"></i> <span class="hidden-phone">Abertura</span></th>
                                  <th><i class="fa  fa-check-square-o"></i> <span class="hidden-phone">Tipo</span></th>
                                  <th><i class="fa fa-user-circle-o "></i> <span class="hidden-phone">Atendente</span></th>
                                  <th><i class="fa fa-question-circle "></i> <span class="hidden-phone">Ver Detalhes</span></th>
                              </tr>  
                              </thead>
                              <tbody>
                              <tr th:each="atendimento : ${atendimentos}">   
	                              <td th:if="${atendimento.status} == 1">&nbsp;&nbsp;&nbsp; <i class="fa fa-check fa-2x" style="color:#11bf25;" aria-hidden="true"></i></td>
	                              <td th:if="${atendimento.status} == 0">&nbsp;&nbsp;&nbsp; <i class="fa fa-exclamation fa-2x" style="color:#fdb507;" aria-hidden="true"></i></td>
	                              <td th:text="${atendimento.criacao}"></td>
	                              <td th:text="${atendimento.categoria.nome}"></td>
	                              <td th:text="${atendimento.nomeAtendente()}"></td>
	                              <td><a data-step='7' data-intro="Clique aqui para ver os detalhes e a resposta que foi dada para esse atendimento!" th:onclick="'apresentaDetalhe(\'' + ${atendimento.mostraOuvidoria()} + '\', \'' + ${atendimento.mostraResposta()} + '\' , ' + ${atendimento.id} + ');'" style="font-size:16px;"  class="btn btn-primary btn-xs fa fa-info-circle"></a></td>
                              </tr>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->		
                    
				<!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalFeedBack" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-b">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Deixe Aqui seu Feedback Anônimo</h4>
		                      </div>
		                      <form action="/info/criar/feedback" method="post">
		                      <div class="modal-body">
		                          <p>Entre com o feedback abaixo. Depois é só enviar</p> 
								<textarea rows="8" class="form-control placeholder-no-fix" name="texto"></textarea>			
								<br>
								<small>*prezamos por um ambiente onde todos possam falar o que sentem no coração, todos feedback são lidos e trabalhados</small> 					 
		                      </div>
		                      <div class="modal-footer">  
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <input class="btn btn-primary" type="submit" value="Enviar">
		                     </div>   
		                     </form>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		          
		          <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAtendimento" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Abertura de Atendimento</h4>
		                      </div>
		                      <form action="/info/criar/atendimento" method="post">
		                      <div class="modal-body">
		                          <p>Escolha o atendimento, escreva o seu questionamento que iremos responder o mais rápido possível</p> 
		                        <select data-step='3' data-intro="Escolha aqui a categoria que melhor categoriza sua dúvida ou problema!" name="categoria" class="form-control" required>
									<option value="">Escolha uma Opção*</option>								
									<option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>	
								</select>
								<br>							 
								<textarea rows="8" class="form-control placeholder-no-fix" name="ouvidoria"></textarea>			
								<br>
								<small data-step='4' data-intro="Só para lembrar esse atendimento não é anônimo." style="color:red;">*Esse atendimento não é anônimo</small> 					 
		                      </div>
		                      <div class="modal-footer">  
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <input class="btn btn-success" type="submit" value="Enviar">
		                     </div>   
		                     </form>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		          
		          
		          <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalDetalhe" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-x">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Detalhe do Atendimento</h4>
		                      </div>
		                      <div class="modal-body">
		                      	<div class="content-panel showback">
		                      		<h4><i class="fa fa-envelope"></i> Mensagem</h4>
		                      		<hr style="border-color:#bababa;">
		                      		<div id="ouvidoria"></div>
		                      	</div>
		                      	<br>
		                      	<div class="content-panel showback">
		                      		<h4><i class="fa fa-check-square-o"></i> Resposta</h4>
		                      		<hr style="border-color:#bababa;">
		                      		<div id="resposta"></div>
		                      	</div>
		                      </div>
		                      <div class="modal-footer">  
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                          <a  class="btn btn-danger" id="concluirBtn" type="hidden" >Concluir Atendimento</a>
		                     </div>   
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
  		           
          </section>
      </section>

      <!--main content end-->

  </section>
  
  	<div th:include="fragments/commonJs :: scripts" th:remove="tag"></div>
  
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=3xxlvr4x4mfh2h5wsc9vh3bdq5b2st3sxgv8iowhcxy83kbv"></script>
 	<script>tinymce.init({ selector:'textarea', menubar: false, height: 250 });</script>
     
	<script type="text/javascript">
      
        function apresentaDetalhe(ouvidoria, resposta, id) {
        	
        	console.log(ouvidoria);
        	
        	$("#ouvidoria").html(ouvidoria);
        	$("#resposta").html(resposta);

        	if(!(resposta === "Ouvidoria ainda <b>não</b> foi respondida!")){
        		console.log("Entrou!")
        		$("#concluirBtn").show();
        		$("#concluirBtn").attr("href", "/info/atendimento/concluir?atendimento="+id);
        	} else {
        		$("#concluirBtn").hide();
        	}
        	
        	$('#ModalDetalhe').modal('show');        	
          };
          
          function iniciaTour(){
          
          var options = {'skipLabel': 'Fechar', 'prevLabel': 'Voltar', 'nextLabel': 'Próximo', 'doneLabel': 'Pronto'};
    		
		    introJs().setOptions(options).onbeforechange(function(targetElement) {
				
				if(targetElement.id == 'stepAtentimento'){
					$('#stepAtentimento').click();				
				}
				
				if(targetElement.id == 'stepFeedback'){
					$('#ModalAtendimento').toggle();
					$('#stepFeedback').click();				
				}
				
				if(targetElement.id == 'stepLista'){
					$('#ModalFeedBack').toggle();
				}
				

			}).start();
		    
		};
          
    </script> 

  </body>
</html>