<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: content"></head>

<body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     <header th:replace="fragments/top-menu :: header"></header>	
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
      	<div th:replace="fragments/menu :: side"></div>
      </aside>
      <!--sidebar end-->
            
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

		<div class="form-panel">
		    <h1>Editar Perfil</h1>
		  	<hr>
			<div class="row">
			
			<form class="form-horizontal style-form" action="/info/atualizar/profile" method = "post" enctype="multipart/form-data">
			      <!-- left column -->
			      <div class="col-md-3 mb">
			        <div class="text-center">
			          <img th:src="${@userInfo.getVoluntario().profilePic()}" class="avatar img-circle" alt="avatar" name="pic" height="152" width="152">
			          <h6>Altere sua Foto do Perfil</h6> 
			          
			          <input id="image-file" class="form-control" type="file" name="file" required multiple>
			        </div><br>
				<input class="btn btn-primary" value="Atualizar Foto" type="submit" id="submitFoto" style="margin-left:30%;">
			      </div>
			  </form> 
			  
		      <form class="form-horizontal style-form" th:action="@{/info/atualizar/}" th:object="${voluntario}" method = "post">
		      <!-- edit form column -->
		      <div class="col-md-8 personal-info ">
		      		<div th:if="${successMessage != null}">
					    <div class="alert alert-success" th:utext="${successMessage}"></div>
					</div>
		         	<div class="form-group">
		           	<label class="col-sm-2 col-sm-2 control-label"><b>Nome Completo</b></label>
		           		<div class="col-sm-10">
		           			<label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
								class="validation-message"></label>
                           <input type="text" class="form-control" name="nome" th:field="*{nome}" required>
                        </div>		         
		           	</div>
		           	
		           	<input type="hidden" class="form-control" th:field="*{senha}" required>
		           	<input type="hidden" class="form-control" th:field="*{preferencia}" required>
		           	
		           	<div sec:authorize="hasRole('VOLUNTARIO')" class="form-group">
		           	<label class="col-sm-2 col-sm-2 control-label"><b>Nome de Doutor</b></label>
		           		<div class="col-sm-10">
                           <input type="text" class="form-control" name="nomeDoutor" th:field="*{nomeDoutor}">
                        </div>		         
		           	</div>
		          <div class="form-group">
		            <label class="col-sm-2 col-sm-2 control-label"><b>Data de Nascimento</b></label>
		              <div class="col-sm-10">
		              <span th:if="${#fields.hasErrors('nascimento')}" th:errors="*{nascimento}" class="validation-message"></span>
		              <input class="form-control" th:field="*{nascimento}" type="text" name="nascimento" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required>
		              </div>
		            </div>
		          
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b>DDD</b></label>
		              <div class="col-sm-10">
		              <label th:if="${#fields.hasErrors('ddd')}" th:errors="*{ddd}" class="validation-message"></label>
		              <input class="form-control" name="ddd" th:field="*{ddd}" type="text" required>
		              </div>
		          </div>
		          
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b>Whatsapp</b></label>
		              <div class="col-sm-10">
		              <label th:if="${#fields.hasErrors('whatsapp')}" th:errors="*{whatsapp}"
								class="validation-message"></label>
		              <input class="form-control" name="whatsapp" th:field="*{whatsapp}" type="text" required>
		              </div>
		          </div>
		           <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b>CPF</b></label>
		              <div class="col-sm-10">
		              <label th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"
								class="validation-message"></label>
		              <input class="form-control" name = "cpf" th:field="*{cpf}" type="text" readonly>
		              </div>
		          </div>
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b>Email</b></label>
		              <div class="col-sm-10">
		              <input name="email" class="form-control" th:field="*{email}" type="text" readonly>
		              </div>
		          </div>
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b>Endereço</b></label>
		              <div class="col-sm-10">
		              <input name = "endereco" class="form-control" th:field="*{endereco}" type="text" placeholder = "Endereço Vazio">
		              </div>
		          </div>  
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b>Região</b></label>
		              <div class="col-sm-10">
		              <label th:if="${#fields.hasErrors('regiao')}" th:errors="*{regiao}"
								class="validation-message"></label>
		              	<select name="regiao" class="form-control" required>	
                      	  <option th:each="r : ${ras}" 
                      	  		  th:value="${r.id}"
                      	  		  th:text="${r.nome}"
                      	  		  th:selected="${r.id == @userInfo.getVoluntario().getRegiao().getId()}" ></option>
						</select>
		              </div>
		          </div>
		          <div class="form-group">  
		            <label class="col-sm-2 col-sm-2 control-label"><b>Login</b></label>
		              <div class="col-sm-10">
		               <input class="form-control" th:field="*{login}" type="text" readonly >
		              </div>
		          </div>
		          <div class="form-group">
		            <label class="col-md-2 control-label"></label>
		         	 <div class="modal-footer">
		              <input class="btn btn-primary" value="Atualizar Informações" type="submit">
		              <span></span>
		              <input class="btn btn-default" value="Cancelar" type="reset">
		              </div>
		            
		          </div>
		          </div>
		        </form>
		        
		   </div>  	
		  </div><!-- /row mt -->	
	
					
					<!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Indique Aqui seu Amigo</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Entre com o e-mail abaixo para resetar sua senha.</p>
		                          <input type="text" name="email" placeholder="E-mail" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
		                          <button class="btn btn-theme" type="button">Enviar</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		        <!-- modal -->
				  
          </section>
      </section>

      <!--main content end-->

  </section>
	
	<div th:include="fragments/commonJs :: scripts" th:remove="tag"></div>

	<script type="application/javascript">
	
	 $('#image-file').bind('change', function() {
		 
         if((this.files[0].size/1024)>500){
        	 $('#submitFoto').attr('disabled','disabled');
        	 alert("O tamanho da foto deve ser inferior a 500Kbytes para ser utilizada, favor reduzir o tamanho da foto antes de envia-la");
         } else {
        	 $('#submitFoto').removeAttr('disabled');
         }

	 });	
	
	  $(function () {
	    //Datemask dd/mm/yyyy
	    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
	  //Datemask dddd/yyyy
	    $("#datemask3").inputmask("dddd/yyyy", {"placeholder": "dddd/yyyy"});
	    //Datemask2 mm/dd/yyyy
	    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});    
		//Money Euro
	    $("[data-mask]").inputmask();

	  });
	  
    </script>

  </body>
</html>