<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
	<div class="modal-dialog">
	    <div class="modal-content">
	        <div class="modal-header-x">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h4 class="modal-title centered"><i class="fa fa-bell-o" aria-hidden="true"></i> Minhas Demandas</h4>
	        </div>
	        <div class="modal-body visiblemobile">	
	        	<div class="row mb">
				      <div class="col-md-12">
				          <section class=" tasks-widget">
				              <div class="panel-body">
				                  <div class="task-content">
				                      <ul id="sortable" class="task-list">
				                          <li th:each="demanda : ${@userInfo.getDemandas()}" th:class="'list-'+${demanda.criticidade()}">
				                              <a th:href="'/demanda/notas?demanda='+${demanda.id}"><i class=" fa fa-ellipsis-v"></i></a>
				                              <div class="task-checkbox">
				                                  <span th:class="'badge bg-'+${demanda.criticidade()}"><small th:text="${demanda.diasVencimento()}"></small></span>
				                              </div>
				                              <div class="task-title">
				                                  <span class="task-title-sp" th:text="${demanda.titulo}"></span>
				                                  <span class="badge bg-theme"></span>
				                                  <div class="pull-right">
				                                  <a style="font-size:13px;" href="/demanda/page" class="btn btn-primary btn-xs fa fa-briefcase" onclick="clickAndDisable(this);"></a>
				                                  </div>
				                              </div>
				                          </li>
				                      </ul>
				                  </div>
				              </div>
				          </section>
				      </div><!--/col-md-12 -->
				  </div><!-- /row -->
            </div>
            <div class="modal-footer">
               <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
            </div>
        </div>
    </div>
</div>
</html>