<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: content"></head>

<body>

  <section id="container">
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     <header th:replace="fragments/top-menu :: header"></header>	
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
      	<div th:replace="fragments/menu :: side"></div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
     <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
				<div class="col-lg-12 main-chart">
				
		         	<h2 class="centered">Seja Bem Vindo ao Laços da Alegria!</h2><br>

					<ul class="nav nav-pills" th:if="${#lists.size(acoes) > 0 }">
						<li id="stepOfHome" class="active" data-step='5' data-intro="Agora hospitais!"><a id="stepPillHome" data-toggle="pill" href="#home">Home</a></li>
						<li id="stepOfOngs" data-step='2' data-intro="Enquanto espera para visitar em hospitais, também temos diversas ações em ong's levando alegria e amor para todo o DF"><a id="stepPillOngs" data-toggle="pill" href="#acoes">Ong's <span class="badge bg-important" th:text="${#lists.size(acoes)}"></span></a></li>
					
						<li class="pull-right"><button class="btn" onclick="iniciaTour()"><i class="fa fa-eye" aria-hidden="true"></i> Iniciar Tutorial</button></li>
					</ul>
					
					
					  
					<div class="tab-content">
                  	
                  	<div id="home" class="tab-pane fade in active row mt">
                  	
                  		<div class="col-lg-3 col-md-3 col-sm-3 mb" data-step='6' data-intro="Todos temos que começar por algum lugar. Aqui não é diferente, mas você pode alterar o hospital que você deseja começar para ter a menor fila :p">
							<div class="weather-3 pn centered">
								<i class="fa fa-hand-spock-o"></i>
								<h1 th:text="${@userInfo.getPosicao()+'º'}"></h1>
								<div class="info">
									<div class="row">
										<div class="dropdown">
											<h3 data-step='7' data-intro="So clicar para mudar a preferência do seu primeiro hospital" class="centered dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown"><span th:text="${@userInfo.getVoluntario().getPreferencia().getTag()}"></span> <i class="fa fa-caret-square-o-down"></i></h3>
											<ul class="dropdown-menu" style="margin-left:18%">
										      <li th:each="h : ${hospitais}" th:if="${@userInfo.getVoluntario().getPreferencia().getId() != h.id}"><a th:href="${'/novato/atualizar/preferencia?hospital='+h.id}" th:text="${h.nome}"></a></li>
										    </ul>
									    </div>
										<div class="col-sm-12 col-xs-12">
											<p><i class="fa fa-flag"></i> Posição na Fila de Espera</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="col-lg-3 col-md-3 col-sm-3 mb" data-step='8' data-intro="Aqui temos diversas informações importantes para você. Caso tenha mais alguma dúvida é só ir no menu na opção 'Informações Importantes'. Caso a dúvida persista entre em contato conosco na opção do menu 'Fale Conosco' e sempre é possível aprender mais na opção 'Vamos Aprender'. Estamos te esperando.">
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
							    <!-- Indicators -->
							    <ol class="carousel-indicators">
							      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							      <li data-target="#myCarousel" data-slide-to="1"></li>
							      <li data-target="#myCarousel" data-slide-to="2"></li>
							    </ol>
							
							    <!-- Wrapper for slides -->
							    <div class="carousel-inner">
							      <div class="item active">
							        <a href="https://drive.google.com/file/d/0BwsuXGjVO_-veGl0blhfR1RVWDQ/view" target="_blank"><img class="img-responsive" src="/assets/img/portfolio/diret-lacos.jpg" alt=""></a>
							      </div>
							
							      <div class="item">
							        <a data-fancybox href="https://www.youtube.com/watch?v=SW1I5sfWnsg?autoplay=1"><img class="img-responsive" src="/assets/img/portfolio/import-info.jpg" alt=""></a>
							      </div>
							    
							      <div class="item">
							        <a data-fancybox href="https://www.youtube.com/watch?v=fxbDkhc4IeI?autoplay=1"><img class="img-responsive" src="/assets/img/portfolio/como-funfa.jpg" alt=""></a>
							      </div>
							    </div>
							
							    <!-- Left and right controls -->
							    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
							      <span class="glyphicon glyphicon-chevron-left"></span>
							      <span class="sr-only">Previous</span>
							    </a>
							    <a class="right carousel-control" href="#myCarousel" data-slide="next">
							      <span class="glyphicon glyphicon-chevron-right"></span>
							      <span class="sr-only">Next</span>
							    </a>
							  </div>
						</div>
                      
					</div><!-- /row -->	
					
					<div id="acoes" class="tab-pane fade row mt">
						<!-- Inicio Card Atividade Ongs -->	
						<input type="hidden" id="novato_ongs" th:value="${novato_ongs}">
						<div th:each="acao, iter : ${acoes}" th:id="'div-acao-'+ ${acao.id}" class="col-lg-3 col-md-3 col-sm-3 mb" >
							<div id="stepOngs" data-step='3' data-intro="Essa é uma ação do Laços caso queira participar, só clicar no botão verde ali embaixo. Claro não se esqueça de cancelar caso não vá!" class="content-panel pn">
								<div class="col-xs-4 col-xs-offset-8">
									<button data-step='4' data-intro="Para mais informações é so clicar aqui! Te onde será a ação, horário, responsável e até o grupo do whatsapp atividade." class="btn btn-clear-g with-shadow" data-toggle="modal" th:onclick="'getAgendaInfo('+${acao.id}+')'">INFO</button>
								</div>
								<div id="profile-01" th:style="'background-image: url('+${acao.instituicao.imagem()}+'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;'">
									<br><h3 class="with-shadow" th:text="${acao.nome}"></h3>
								</div>
									<span hidden th:id="'acao-' + ${acao.id}" th:data-situacao="${acao.situacao}"></span>
									<a th:onclick="'registroAcao('+${acao.id}+')'" >
										<div th:id="'corH-' + ${acao.id}" class="centered profile-01l" >								
											<p th:id="'textoH-' + ${acao.id}"><i class="fa fa-spinner fa-pulse fa-fw"> </i> Carregando</p>
										</div>
									</a>
								<div class="centered">
									<h6>
										<span th:id="${rodada ? '' : 'iconA-' + acao.id}"><i class="fa li_paperplane"></i></span>
									<br><span th:text="${acao.instituicao.nome}"></span></h6>
								</div>
							</div><!--/content-panel -->
						</div><!--/col-md-4-->
						<!-- Fim Card Atividade Ongs -->   
					</div>
					
					</div>
					
					 <div data-step='9' id="stepMaisLacos" data-intro="Aqui temos alguns números que mostram o tamanho da nossa família" class="row">
					 
					 <br><h1 class= "centered">Mais Laços!</h1><br>
					 
                  		<div class="col-md-2 col-sm-2 col-md-offset-1 box0" data-step='10' data-intro="Nossos número de voluntários!">
                  			<div class="box1">
					  			<span class="li_heart"></span>
					  			<h3 th:text="${#numbers.formatInteger(@userInfo.getMaisLacos().getVoluntarios(),0,'POINT')}"></h3>
                  			</div>
					  			<p>Hoje o Laços da Alegria conta com <span th:text="${#numbers.formatInteger(@userInfo.getMaisLacos().getVoluntarios(),0,'POINT')}"></span> lindos voluntários!</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0" data-step='11' data-intro="Assim como você esses são novatos que estão esperando para entrar!">
                  			<div class="box1">
					  			<span class="li_star"></span>
					  			<h3 th:text="${#numbers.formatInteger(@userInfo.getMaisLacos().getNovatos(),0,'POINT')}"></h3>
                  			</div>
					  			<p>Nos temos <span th:text="${#numbers.formatInteger(@userInfo.getMaisLacos().getNovatos(),0,'POINT')}"></span> novatinhos esperando para entrar para nossa família!</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0" data-step='12' data-intro="Aqui você pode ver quantas visitas a hospitais você irá s2">
                  			<div class="box1">
					  			<span class="li_fire"></span>
					  			<h3>0</h3>
                  			</div>
					  			<p>Como é bom começar, pronto para a sua primeira visita?</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0" data-step='13' data-intro="E aqui as visitas nas maravilhosas ONG's">
                  			<div class="box1">
					  			<span class="li_diamond"></span>
					  			<h3>0</h3>
                  			</div>
					  			<p>Esperando ansiosos por você em uma de nossas ações. Elas são simplesmente maravilhosas!</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0" data-step='14' data-intro="E somando a nossa força e em todas as ações temos esse tantão de hora só esse ano!">
                  			<div class="box1">
					  			<span class="li_lab"></span>
					  			<h3 th:text="${#numbers.formatInteger(@userInfo.getMaisLacos().getHoras(),0,'POINT')}"></h3>
                  			</div>
					  			<p>Só esse ano já são mais de <span th:text="${#numbers.formatInteger(@userInfo.getMaisLacos().getHoras(),0,'POINT')}"></span> horas dos nossos voluntários dedicadas a espalhar amor por todas as nossas atividades.</p>
                  		</div>
                  	
                  	</div>
                  <!-- /row mt -->	
                  	
                  	<!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="InfoAcao" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-t">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title centered"><span id="aNome"></span></h4>
		                      </div>
		                      <div class="modal-body">
		                        <p><b>Informações da Ação:</b><span id="aInformacoes"></span></p>
		                        <p><b>Responsável:</b><span id="aResponsavel"></span></p>
		                        <p><b>Contato para Dúvidas:</b><span id="aContatoResp"></span></p>
		                        <p><b>Região Administrativa:</b><span id="aRegiao"></span></p>
		                        <p><b>Descrição:</b><span id="aDescricao"></span></p>
		                          <p><b>Endereço:</b><span id="aEndereco"></span></p> 
		                          <p><b>Horário:</b><span id="aHorario"></span></p>		                          
		                          <p><b>Duração da Ação:</b><span id="aDuracao"></span> horas</p>
		                          <p><b>Nº de Voluntários:</b><span id="aVoluntarios"></span></p>	
		                      </div>
		                      <div class="modal-footer">
		                      	<a class="btn btn-primary" id="grupoWhats" target="_blank">Grupo do Whatsapp</a>
		                        <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->			
															
		            <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="Modalfechada" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-t">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title centered">Inscrições Fechadas</h4>
		                      </div> 
		                      <div class="modal-body centered">
		                          <p>Inscrições acontecem de <b>Segunda</b> à <b>Sábado</b> às 12h! </p>
		                          <small style="color:red;">Caso esteja em périodo de escrição entre em contato com o devido Coordenador da atividade, informando-o que a chamada da atividade anterior precisa ser realizada para liberação das inscrições!</small>		                       	
		                      </div>
		                       <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                      </div>                  
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		          
		          <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="Modalbloqueada" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-t">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title centered">Inscrição Bloqueada</h4>
		                      </div> 
		                      <div class="modal-body centered">
		                          <p>Você já está inscrito em outra atividade que acorrerá nesse mesmo horário. Caso queira participar dessa, favor cancelar primeiramente a outra</p>		                       	
		                      </div>
		                       <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                      </div>                  
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
				  	
				  <!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalCancelar" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-d">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title centered">Cancelar Participação</h4>
		                      </div>
		                      <div class="modal-body centered">
		                          <p>Você Realmente quer <b>Cancelar</b> sua participação nessa atividade?</p>		                       	
		                      </div>
		                      <div class="modal-footer">
		                       <input  type="hidden" id="ativCancelar">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                          <button class="btn btn-danger" onclick="cancelar();">Confirmar Cancelamento</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
                  	
		          <!-- Modal -->
		          <div th:if="${@userInfo.getVoluntario().getStatus() == 2}">
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="MensagemBad" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header-d">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title centered">Conta desativada</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Devido a sua falta na atividade sua conta foi desativada. Entendemos que imprevistos acontecem e queremos muito você fazendo parte do do nosso projeto.</p>
		                          <p>Mas temos uma fila muito grande e caso você não possar ir é so avisar a pessoa responsavel que entrou em contato com você, com alguma antecedência.</p>
		                          <p>Agora para você voltar a ser chamado para uma atividade é só reativar sua conta, em pouco tempo voltaremos a entrar em contato.</p>
		                          <p>Ou você pode falar com o responsavel que entrou em contato com você para tirar alguma dúvida ou abrir uma ouvidoria.</p>
		                          <p>Esperamos você em uma de nossas atividades s2</p>
		                          		                       	
		                      </div>
		                      <div class="modal-footer">
		                       <input  type="hidden" id="ativCancelar">
		                       	  <button class="btn btn-danger" onclick="reativarConta();" type="button">Reativar Minha Conta Agora</button>	
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->

				 <!-- modal -->		          
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="reativarConta" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title centered">Reativação de Conta</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Reativando sua conta você se compromete a estar disponível para realizar uma atividade dentro das próximas 2 semanas.</p>
		                          <p style="color:red">*Caso isso não seja possível. Favor esperar ter essa disponibilidade para reativar sua conta</p>
		                      </div>
		                      <div class="modal-footer">
		                       <input  type="hidden" id="ativCancelar">
		                       	  <a class="btn btn-success" href="/novato/reativar/conta" type="button">Confirmar Reativação</a>	
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		          </div>
		          
					
                 </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
              </div><!--/row -->
          </section>
      </section>
      
      <footer th:replace="fragments/footer :: content"></footer>

      <!--main content end-->
      
  </section>
	
	<div th:include="fragments/commonJs :: scripts" th:remove="tag"></div>
   
	<a th:if="${session.vindas}" id="hidden_link" data-fancybox href="https://www.youtube.com/watch?v=6xi2aZGSAtY?autoplay=1"></a>
	
    <script src="/assets/js/custom/novato-home.js"></script>
    
    <script>
    	function iniciaTour(){
    		
		    introJs().setOptions({'skipLabel': 'Fechar', 'prevLabel': 'Voltar', 'nextLabel': 'Próximo', 'doneLabel': 'Pronto'}).onbeforechange(function(targetElement) {
				
				if(targetElement.id == 'stepOfOngs'){
					$('#stepPillOngs').click();				
				}
				
				if(targetElement.id == 'stepOfHome'){
					$('#stepPillHome').click();				
				}

			}).start();
		    
		};
    </script>
    
     <script th:if="${@userInfo.isFaltante()}">
        $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: '<a style="color:#ffd777">O Laços Conta Com Você!</a>',
            // (string | mandatory) the text inside the notification
            text: 'Quando assumimos o compromisso de participar de uma atividade do Laços, estamos assumindo o compromisso de levar alegria a quem precisa, a quem está a nossa espera. O Laços depende de cada um de nós para funcionar, e precisamos de seriedade na hora de confirmar a participação. Caso algo aconteça simplesmente cancele a participação com um clique, que outro voluntário irá assumir esse compromisso.<a style="color:#ffd777"> <br><br> Att, <br> Laços da Alegria </a>',
            // (string | optional) the image to display on the left
            image: '/assets/img/sad.png',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });
        return false;
        });
	</script>
    
  </body>
</html>
